*{
  margin:0; 
  padding: 0;
}



.main-div{

height: 100%;
width: 100%;
}
.nav-bar{

display: flex;
  width: 100%;
  height: 205px;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.App-logo{

display: flex;
  height: 88px;
  width: 176px;
  align-items: center;
  
}

.mainsec1{
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}


.main_para{
color:black;
border: 5px red;
box-sizing: border-box;


}

.mainsec2{

  width: auto;
  display: flex;
  justify-content: center;

}

.main-pic{
  margin-top: 30px;
  
  width: 1500px;
  height: 400px;
}

.About{
  display: flex;
  margin: auto;
  overflow-x: hidden;

}

.Objective_efun{

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-right: 500px; */
  align-items: last baseline ;
  }

.objec_heading{
color: #475467;
font-size: 40px;
margin-right: 370px;
}



/* p.a{
  white-space: nowrap;
} */

.objec_para{

font-size: 20px;


}